.form-field {
    position: relative;
    margin-bottom: 10px;
    font-size: 24px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="datetime-local"] {
    font-size: 24px;
    width: 200px;
    height: 30px;
}

input[type="submit"] {
    margin-top: 25px;
    margin-bottom: 25px;
}