<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Info</title>
    <script>
      function redirectToObject() {
        event.preventDefault()
        window.location.replace('/objects/' + document.getElementById('objectId').value)
      }
    </script>
  </head>
  <body>
    <h1>Information about stored objects</h1>

    <a href="/objects"><button>Show All Objects</button></a>

    <form id="objectIdForm" onsubmit="redirectToObject()">
      <br />
      <label for="objectId">Enter Object ID:</label>
      <input type="number" id="objectId" name="objectId" required />
      <button class="button" type="submit">Show</button>
    </form>
    <br />

    <h1>Information about API Keys</h1>
    <a href="/api/v1/keys"><button type="button">Show All Keys</button></a>
    <a href="/api/v1/start"><button>Create new key</button></a>
  </body>
</html>
