<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>My Web Page</title>
    <script>
      function redirectToObject() {
        alert('It`s still under construction')
      }
    </script>
  </head>
  <body>
    <h1>Welcome to My Web Page</h1>

    <a href="/objects"><button>Show All Objects</button></a>

    <a href="/api/v1/start"><button>Start API</button></a>

    <form id="objectIdForm" onsubmit="redirectToObject()">
      <label for="objectId">Enter Object ID:</label>
      <input type="text" id="objectId" name="objectId" required />
      <button class="button" type="submit">Submit</button>
    </form>
  </body>
</html>
