<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>All Objects</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/table.css" />
  </head>
  <body>
    <h1>All Objects</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Entity ID</th>
          <th>Record ID</th>
          <th>Foo</th>
          <th>Bar</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
          <tr>
            <td>
              <a href="/objects/{{ entity.entity_id }}"><button>{{ entity.entity_id }}</button></a>
            </td>
            <td>{{ entity.record_id }}</td>
            <td>{{ entity.foo }}</td>
            <td>{{ entity.bar }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/"><button class="home_button">Back to main page</button></a>
  </body>
</html>
