<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>All Objects</title>
  </head>
  <body>
    <h1>All Objects</h1>
    <table>
      <thead>
        <tr>
          <th>Entity ID</th>
          <th>Record ID</th>
          <th>Foo</th>
          <th>Bar</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
          <tr>
            <td>{{ entity.entity_id }}</td>
            <td>{{ entity.record_id }}</td>
            <td>{{ entity.foo }}</td>
            <td>{{ entity.bar }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/"><button style="margin-top: 25px;">Back to main page</button></a>
  </body>
</html>
